.container {
  min-width: 320px;
}

.scene {
  perspective: 600px;
}

.card {
  /*width: 100px; !* Установите ширину карточки по вашему усмотрению *!*/
  /*height: 100px; !* Установите высоту карточки по вашему усмотрению *!*/
  /*margin: 10px;*/
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background: radial-gradient(at left top, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
  z-index: 1;
}

.card__face--back {
  background: linear-gradient(rgb(229, 231, 235), rgb(156, 163, 175), rgb(75, 85, 99));
  transform: rotateY(180deg);
  color: #fff;
  z-index: 0;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.hide {
  opacity: 0;
}
